html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: rgba(21, 49, 100, 0.082);
	font-family: "Lobster", cursive;
}
.wrapper {
	height: 100vh;
	display: flex;
	text-align: center;
	padding: 100px 0;
}
.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}
.tittle {
	font-size: 100px;
	padding-top: 300px;
}
.subtittle {
	font-size: 70px;
	transition: all 0.3s;
}
.subtittle:hover {
	transform: scale(1.25);
}
